name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore ./parking.api/parking.api.csproj
    - name: Build
      run: dotnet build ./parking.api/parking.api.csproj --no-restore
    - name: Test
      run: |
        # run tests only if you add test projects; otherwise remove this step or point it to tests
        dotnet test --no-build --verbosity normal
